html {
    font-size: 16px;
    font-family: Lato;
    
}
body {
    margin: 0;
    background-color: #FFFEF9;
}

h1 {
    font-size: 7rem;
    font-family: Playfair Display;
}

p {
    line-height: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBF5DD;
    margin: 0;
    padding: .5 0;
    width: 100%;
}

.logoInitals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5rem;
}

.initials {
    margin-left: .5rem;
    font-family: Lato;
    font-size: 2rem;
}

.logo {
    width: 3rem;
    height: 3rem;
    background-image: url('../images/Logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Ensures the SVG scales nicely without cutting off */
    
}

.instagram,
.linkedIn,
.x-logo {
    width: 32px;
    height: 32px;
    color: rgb(141, 141, 141); /* Changed from blue so it pops against the green */
}

.contact-me-main .instagram,
.contact-me-main .linkedIn,
.contact-me-main .x-logo {
    width: 32px;
    height: 32px;
    color: white; /* Changed from blue so it pops against the green */
}


header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
    width: 450px;
    margin-right: 5rem;
}
header nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;

}


.Portfolio-nav,
.About-me-nav,
.Contact-me-nav {
    transition: scale .2s ease;
}


.Portfolio-nav:hover, .About-me-nav:hover, .Contact-me-nav:hover {
    scale: 1.1;
}


.contactButton {
    width: 180px;
    height: 75px;
    border-radius:1.5rem;
    background-color: #306D29;
    border: none;
    font-family: Lato;
    font-size: 1.4em;
    transition: scale .2s ease;
}

header .contactButton {
    width: 158px;
    height: 66px;
    border-radius:1.4rem;
    background-color: #306D29;
    border: none;
    font-family: Lato;
    font-size: 1.4em;
    transition: scale .2s ease;
}

header .contactButton a {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
    font-size: 1.2rem;
}

.contactButton:hover {
    scale: 1.1;
}

.contactButton a {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
}



.aboutButton {
    width: 180px;
    height: 75px;
    border-radius:1.5rem;
    background-color: transparent;
    border: solid .2rem #306D29;
    font-family: Lato;
    font-size: 1.4rem;
    transition: scale .2s ease;
}

.aboutButton:hover {
    scale: 1.1;
}


.aboutButton a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
}



main .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8rem 0;
}

main .titleContainer h1 {
    font-size: 7rem;
    font-family: Playfair Display;
    margin: 0 10rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    text-align: center;
    opacity: 0; /* Start completely invisible */
    scale: .9;
    animation: fadeInPage 2s ease forwards;
   
}

@keyframes fadeInPage {
  to {opacity: 1; scale:1 ;}
}


main .titleContainer h4 {
    font-size: 2rem;
    color: grey;
    margin-bottom: 7rem;
    opacity: 0; /* Start completely invisible */
    scale: .9;
    animation: fadeInPage 2s ease forwards;
    animation-delay: .2s;

}
main .titleContainer .buttonRow {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.portfolioContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25rem;
}

.portfolioGridContainer {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 6rem;
    margin-top: 10rem;
}


.descriptionCard {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;

}

.portfolioCard {
    transition: scale 0.18s ease;
}

.portfolioCard:hover {
    scale: 1.05;
}


.descriptionCard h3 {
    color: grey;
}



.portfolioContainer h1 {
    scale: .9;
    opacity: 0;
    font-size: 5rem;
    margin-bottom: 4rem;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 500px
}


.portfolioCard, 
.statementCard,
.reachOutCard {

    width: 100%; 
}
.portfolioCard img {
    scale: .9; 
    opacity: 0;
    width: 100%;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 500px
}



.statementCard {
    opacity: 0;
    text-wrap: wrap;
    margin: 3rem 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 500px
}

.reachOutCard {
    opacity: 0;
    margin: 3rem 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 600px
}

.divider {
    grid-column: 1 / -1;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 3rem;
}


.reachOutCard li, a {
    text-decoration: none;
    color: grey;
}

.reachOutCard ul {
    list-style-type: none;
    padding-left: 0;       
    margin-left: 0;  
    line-height: 2rem;      
    
}

.finalStatementsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 6rem;
    margin: 8rem;
    justify-content: center;
}

.finalStatementsCard {
    opacity: 0;
    display: flex;
    flex-direction: column;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 300px

}

.smallDivider {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBF5DD;
    margin: 0;
    padding: 1.5rem 0;
}

footer nav ul{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
    width: 500px;
    
}
footer nav a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;

}

.footerLogoNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.social-media {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 5rem;
}

@keyframes fade-in {
    
    to {scale: 1; opacity: 1;}
}


@media only screen and (max-width: 1400px) {
     .portfolioGridContainer {
        grid-template-columns: 600px;
     }

     .statementCard {
        margin: 1rem 0;
     }

    .divider {
        margin-top: 1rem;
    }

    .reachOutCard {
        margin: 1rem 0;
    }

    .finalStatementsContainer {
        grid-template-columns: 600px;
    }
}

@media only screen and (max-width: 1024px) {
    main .titleContainer h1 {
        font-size: 5rem;
        margin: 0 5rem;
        margin-top: 10rem;
        margin-bottom: 1rem;
    }

    main .titleContainer h4 {
        font-size: 1.5rem;
    }
    
    main .portfolioContainer h1 {
        font-size: 3.5rem;
    }

    footer {
        flex-wrap: wrap;
        line-height: 10rem;
        
    }


}

@media only screen and (max-width: 800px) {
    footer nav ul {
        display: none;
    }

    main .portfolioGridContainer {
        grid-template-columns: 400px;
    }

    .finalStatementsContainer {
    grid-template-columns: 400PX;
    }   
}


.contact-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 20rem;
    
}

.contact-me-main h1 {
    text-align: center;
    margin-top: 7rem;
}

.contactInfoContainer h2 {
    font-size: 2rem;
    color: white;
    font-weight: normal;
}

.contactInfoContainer h3 {
    font-weight: 400;
    color: rgb(223, 223, 223);
    font-size: 1.5rem;
    
}

.contactInfoContainer h4 {
    color: white;
    font-weight: normal;
    font-size: 1.2rem;

    
}

.contactInfoContainer {
    background-color: #306D29;
    width: 500px;
    height: 800px;
    padding: 3rem 6rem 3rem 3rem;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px;
}

.contactInfoGridContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem 3rem;
    margin-bottom: 4rem;
    
}
.contactInfoContainer .social-media {
    margin: 0
}


.phoneIcon {
    width: 28px;
    height: 28px;
    background-image: url('../images/bxs_phone-call.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Ensures the SVG scales nicely without cutting off */
 
}

.mailIcon {
    width: 28px;
    height: 28px;
    background-image: url('../images/ic_sharp-email.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Ensures the SVG scales nicely without cutting off */

}

.mapsPinIcon {
    width: 28px;
    height: 28px;
    background-image: url('../images/carbon_location-filled.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Ensures the SVG scales nicely without cutting off */

}


.contactForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    margin: 4rem 5rem;
    width: 800px;

}

.radioButtons, .message {
    grid-column: 1 / -1;
}

.radioButtonItems {
    display: flex;
    flex-direction: row; /* Forces the 4 options to sit horizontally */
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

/* Container for each individual button + label pair */
.radioGroup {
    display: flex;
    flex-direction: row; /* Forces the input and label to sit horizontally */
    align-items: center;
}

.contactInput {
    display: flex;
    flex-direction: column;
    color: grey;

}

.contactInput input {
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 1rem 0;
    padding-bottom: 0.5rem;
    background-color: #FFFEF9;
    border-bottom: 1px solid grey;
}

.submitButton {
    margin-left: auto;
}

.submitButton input{

    padding: 25px 70px;
    border-radius:1.5rem;
    background-color: #306D29;
    color: white;
    border: none;
    outline: none;
    font-family: Lato;
    font-size: 1.4em;
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: transform .2s ease;
}


.submitButton input:hover {
    transform: scale(1.1) translateZ(0); 
    
}


.submitButton input:active {
    transform: scale(1) translateZ(0);
}

#error-message {
    color: rgb(255, 74, 74);
}