html {
    font-size: 16px;
    font-family: Lato;
    
}
body {
    margin: 0;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBF5DD;
    margin: 0;
    padding: 1.5rem 0;
}

.logoInitals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5rem;
}

.initials {
    margin-left: .5rem;
    font-family: Lato;
    font-size: 2rem;
}

.logo {
    width: 4rem;
    height: 4rem;
    background-image: url('../images/Logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Ensures the SVG scales nicely without cutting off */
    
}


header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
    width: 500px;
    margin-right: 5rem;
}
header nav a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;

}


.contactButton {
    width: 180px;
    height: 75px;
    border-radius:1.5rem;
    background-color: #306D29;
    border: none;
    font-family: Lato;
    font-size: 1.4rem;
    ;
    
}

.contactButton a {
    color: white;
    text-decoration: none;
}

.aboutButton {
    width: 180px;
    height: 75px;
    border-radius:1.5rem;
    background-color: transparent;
    border: solid .2rem #306D29;
    font-family: Lato;
    font-size: 1.4rem;
    ;
    
}

.aboutButton a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.titleContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

main h1 {
    font-size: 7rem;
    font-family: Playfair Display;
    margin-top: 10rem;
    margin-bottom: 1rem;
}

main h4 {
    font-size: 2rem;
    color: grey;
    margin-bottom: 7rem;
}